html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

body h1, body h2, body h3, body h4 {
  font-family: 'Crimson Text', serif;
}

body .Body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  position: relative;
}

body .Body header {
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
}

body .Body header #navbar {
  z-index: 2;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0;
  top: 0px;
  background-color: rgba(1, 29, 33, 0.7);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 4fr;
      grid-template-columns: 3fr 4fr;
}

body .Body header #navbar h1 {
  font-size: 1.8rem;
}

body .Body header #navbar ul {
  width: 100%;
  padding-top: .6rem;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

body .Body header #navbar ul li {
  list-style-type: none;
}

body .Body header #navbar ul li a {
  padding: 0 1rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

body .Body header #navbar ul li a:hover {
  color: aqua;
}

body .Body header #navbar .burger {
  padding: 0 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

body .Body header #navbar .burger div {
  width: 2.5rem;
  height: .4rem;
  background-color: white;
  margin-bottom: .3rem;
}

body .Body header .bighero {
  top: 0;
  background-image: url("Content/DSC_1902.JPG.jpg");
  height: 100vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  padding-left: 3rem;
}

body .Body header .bighero .name {
  padding-top: 8rem;
}

body .Body header .bighero .name h2 {
  margin: 0;
  font-size: 4rem;
  padding: 0rem;
  margin-bottom: 3rem;
}

body .Body header .bighero .name div {
  font-size: 3rem;
  border-left: 10px solid rgba(53, 129, 152, 0.7);
  padding-left: 1rem;
}

body .Body header .bighero .scroll {
  padding-top: 1rem;
  padding-left: 3rem;
  float: right;
  margin-left: auto;
  padding-right: 10rem;
  font-size: 2rem;
}

body .Body header .bighero .scroll fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .Body .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 15rem;
  overflow: hidden;
  background-color: rgba(1, 29, 33, 0.7);
}

body .Body .quote video {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  z-index: -1;
}

body .Body .quote div {
  padding: 0rem;
  margin: 0;
  color: white;
  font-size: 2.3rem;
}

body .Body .About {
  padding: 5rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body .Body .About .who {
  padding: 1rem 0 1rem 0;
  font-size: 1.2rem;
  color: #358198;
}

body .Body .About h3 {
  padding: 1rem 0 1rem 0;
  margin: 0;
  font-size: 3.5rem;
}

body .Body .About .about_text {
  padding: 2rem 2rem 2rem 0rem;
  font-size: 1.7rem;
}

body .Body .approach {
  background-color: #F2F2F2;
  padding: 3rem;
  margin: 0;
}

body .Body .approach h3 {
  font-size: 3.5rem;
  margin: 0;
}

body .Body .approach .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  -ms-grid-rows: (minmax(auto, auto))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(auto, auto));
  grid-gap: 10px;
}

body .Body .approach .grid .item {
  overflow: hidden;
}

body .Body .approach .grid .subitem {
  padding: 1rem;
  font-size: 1.2rem;
  border-left: 10px solid rgba(53, 129, 152, 0.7);
  border-radius: 5px;
}

body .Body .approach .grid h4 {
  font-size: 2rem;
  color: #011D21;
  margin-left: 1rem;
}

body .Body #footer {
  background: #011D21;
  color: #F2F2F2;
  padding: 3rem;
  margin: 0;
}

body .Body #footer h2 {
  font-size: 3rem;
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 80%;
  }
  body .Body .quote {
    height: 50%;
  }
  body .Body header #navbar {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    height: 11vh;
  }
  body .Body header #navbar h1 {
    font-size: 2rem;
  }
  body .Body header #navbar ul {
    margin: 0;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 50%;
    height: 100vh;
    top: 11vh;
    background-color: rgba(1, 29, 33, 0.8);
    z-index: 11;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  body .Body header #navbar ul li {
    margin: 30px 0 30px 0;
    position: relative;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  body .Body header #navbar ul li a {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  body .Body header #navbar .burger {
    position: relative;
    display: block;
    z-index: 11;
    cursor: pointer;
  }
  body .Body header #navbar .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 680px) {
  :root {
    font-size: 60%;
  }
  .subitem {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */